.home-page {
  .text-zone {
    position:absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color:#ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #ffd700;
      color: #333;
    }
    
  }
}

.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;

  .cubespinner {
    width: 400px;
    height: 400px;
    perspective: 2000px;
    perspective-origin: 50% -500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -40%);

    .cube-wrap {
      transform-style: preserve-3d;
      animation: rotate 10s infinite linear;
    }

    .side {
      display: block;
      position: absolute;
      width: 250px;
      height: 250px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px lightyellow;
      transform: rotateY(45deg)
      translateZ(-200px) rotateX(15deg);
      transform-origin: 50% 50% 0;
    }

    .side-front {
      transform: translateZ(125px);
    }

    .side-back {
      transform: rotateY(180deg) translateZ(125px);
    }

    .side-top {
      transform: rotateX(90deg) translateZ(125px);
    }
    .side-bottom {
      transform: rotateX(-90deg) translateZ(125px);
    }
    .side-left {
      transform: rotateY(-90deg) translateZ(125px)
    }
    .side-right {
      transform: rotateY(90deg) translateZ(125px)
    }

    @keyframes rotate {
      0%{
        transform: rotateY(0);
      }
      100% {
        transform: rotateY(360deg);
      }
    }
  }
}



